html {
  -webkit-text-size-adjust: 100%;
  // font-size: 62.5%; /* 1rem = 10px   10px/16px=62.5% */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  // scrollbar-gutter: stable; /* both-edges; */
}

body {
  // font-size: 1.6rem;
}

header {
  height: 60px;
}

.navbar {
  height: 60px;
  line-height: 35px;
}

// @import "~bootstrap/scss/bootstrap.scss";
@import "../src/Assets/Styles/index.scss";
