.rs-carousel {
    flex: 1;
    height: 100%;
    top: 0;
    overflow: hidden;
  }
  
  .rs-carousel .carousel-inner,
  .rs-carousel .carousel-inner .carousel-item {
    flex: 1;
    height: 100%;
  }
  
  
  .rs-carousel > .carousel-control-prev,
  .rs-carousel > .carousel-control-next {
    height: 100%;
    width: 10%;
  }
  
  .rs-carousel .carousel-control-prev > .carousel-control-prev-icon,
  .rs-carousel .carousel-control-next > .carousel-control-next-icon {
    width: 2vw;
    max-width: 20px;
  }