:root {
  --rs-ash-gray: #b2beb5;
  --rs-blue-gray: ##7393b3;
  --rs-charcoal: #36454f;
  --rs-dark-gray: #a9a9a9;
  --rs-glaucous: #6082b6;
  --rs-gray: ##808080;
  --rs-gunmetal: #818589;
  --rs-light-gray: #d3d3d3;
  --rs-rewter: #899499;
  --rs-platinum: #e5e4e2;
  --rs-sage-green: #8a9a5b;
  --rs-silver: #c0c0c0;
  --rs-slate-gray: #708090;
  --rs-smoke: #848884;
  --rs-steel-gray: #71797e;
  --rs-button-face: #CCC;
  --rs-dark-active: #444;
  --rs-dark-normal: #777;
  --rs-black: #000;
  --rs-white: #FFF;
  --rs-red: #ff0000;
}
