.rs-visible-password {
  align-items: center;
  display: flex;
  justify-content: space-between;
  justify-items: center;

  .visible-password {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }

  label {
    font-weight: bold;
  }

  button {
    all: unset;
  }
}
